body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
}
.attribution { font-size: 11px; text-align: center;margin: 15px; }
.attribution a { color: hsl(228, 45%, 44%); }

/*background*/
.bg-desktop{
    display: none;
}
.bg-mobile{
    position: absolute;
    width: 100vw;
    z-index:-1;
    top: 0;
}
@media(min-width:680px){
    .bg-desktop{
        display: inline;
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100vw;
    }
    .bg-mobile{
        display: none;
    }
}
/*Estructura*/
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    background-color: white;
    border-radius: 15px;
    margin-top: 40px;
}

/*Contenido*/
.img-principal{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
h1{
    color: hsl(223, 47%, 23%);
}
.content{
    padding: 30px;
    text-align: center;
}

.parrafo{
    color: hsl(224, 23%, 55%);
}
.info-plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 40px 0;
    padding:15px;
    border-radius: 15px;
    background-color: hsl(225, 100%, 98%);
}
.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title2{
    margin: 0;
    color: hsl(223, 47%, 23%);
}
.price{
    margin: 0;
    color:hsl(224, 23%, 55%) ;
}
.change{
    color: hsl(245, 75%, 52%);
    font-weight:700 ;
}
.change:hover{
    color: hsl(245, 96%, 70%);
    text-decoration: none;
}

.buttons{
    display: flex;
    flex-direction: column;
}
.btn{
    padding: 15px;
    border-radius: 10px;
    background-color: transparent;
    border-style: none;
    width: 100%;
}
.accept{
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-weight: 900;
}
.accept:hover{
    background-color: hsl(245, 96%, 70%);
    cursor: pointer;
}

.cancel{
    color:hsl(224, 23%, 55%);
    font-weight: 900;
}
.cancel:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}